<div class="container-fluid">
  <div class="row">
    <div class="bg-dark text-white p-2">
      <span class="navbar-brand ml-2"
        >SPORTS STORE
        <cart-summary></cart-summary>
      </span>
    </div>
  </div>
  <div class="row text-white">
    <div class="col-3 bg-light p-2 d-flex flex-column">
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" (click)="setCategory()">
          Home
        </button>
        <button
          class="btn btn-outline-primary"
          [class.active]="category == selectedCategory"
          *ngFor="let category of categories"
          (click)="setCategory(category)"
        >
          {{ category }}
        </button>
      </div>
    </div>
    <div class="col-9 p-2 text-dark">
      <div *ngFor="let product of productsOnPage" class="card m-1 p-1 bg-light">
        <h4>
          {{ product.name }}
          <span class="badge rounded-pill bg-primary" style="float: right">
            {{ product.price | currency : "USD" : "symbol" : "2.2-2" }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">
          {{ product.description }}
          <button
            class="btn btn-success btn-sm float-end"
            (click)="addProductToCart(product)"
          >
            Add To Cart
          </button>
        </div>
      </div>
      <div class="mt-2 btn-group float-end" role="group">
        <button
          class="btn btn-outline-primary"
          *counter="let page of pageQuantity"
          (click)="goToPage(page)"
          [class.active]="page == currentPage"
        >
          {{ page }}
        </button>
      </div>
    </div>
  </div>
</div>
